<header>
  <div class="header">
		<img src="assets/logo.jpg"/>
		<nav>
			<ul class="menu">
        <ul><a routerLink="home"><button type="button" class="efeito">Home</button></a></ul>
        <ul><a routerLink="curriculo"><button type="button" class="efeito">Curriculum Vitae</button></a></ul>
        <ul><a routerLink="videos"><button type="button" class="efeito">Videos</button></a></ul>
        <ul><a routerLink="links"><button type="button" class="efeito">Links Úteis</button></a></ul>
        <ul><a routerLink="diversos"><button type="button" class="efeito">Diversos</button></a></ul>
			</ul>
		</nav>
	</div>
</header>

<main>
  <router-outlet></router-outlet>
</main>
